.MainMenu {
    border-top: 2px solid rgba(0,0,0,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.2);
}

.MainMenu a, .MainMenu a:hover {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 50px;
    line-height: 70px;
    color: #777777;
}

.MainMenu a:hover, .MainMenu a.active {
    color: #000000;
}